<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/795e3cb908.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/favicon.ico?v2" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New Listing</title>
</head>
<body>
<div th:include="fragments/navbar"/>

<div class="container shadow p-3 mb-5 bg-white rounded" >
    <form action="#" th:action="@{/listing/new}" th:object="${listing}" method="post">
        <h2>New Listing</h2>
        <div class="form-group">
            <label for="location">Location</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-globe"></i></span>
                </div>
                <input type="text" class="form-control" id="location" th:field="*{location}" aria-describedby="locationHelp" placeholder="Enter location" required>
            </div>
            <small id="locationHelp" class="form-text text-muted">Location of the site.</small>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-file-alt"></i></span>
                </div>
                <textarea class="form-control" rows="5" id="description" th:field="*{description}" aria-describedby="descriptionHelp" placeholder="Enter description" required></textarea>
            </div>
            <small id="descriptionHelp" class="form-text text-muted">Description of the site, such as count of rooms, amenities, features, dogs allowed or not.</small>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-dollar-sign"></i></span>
                </div>
                <input type="number" class="form-control" min="1" id="price" th:field="*{price}" aria-describedby="priceHelp" placeholder="Enter price" required><br/>
            </div>
            <small id="priceHelp" class="form-text text-muted">Price per day.</small>
        </div>
        <div class="form-group">
            <label for="maxGuests">Maximum Guests</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-bed"></i></span>
                </div>
                <input type="number" class="form-control" min="1" id="maxGuests" th:field="*{maxGuests}" aria-describedby="maxGuestsHelp" placeholder="Enter Maximum Guests" required>
            </div>
            <small id="maxGuestsHelp" class="form-text text-muted">Maximum number of guests allowed.</small>
        </div>
        <div class="form-group">
            <label for="contactInformation">Contact Information</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                <input type="text" class="form-control" id="contactInformation" th:field="*{contactInformation}" aria-describedby="contactInformationHelp" placeholder="Enter Contact Information" required>
            </div>
            <small id="contactInformationHelp" class="form-text text-muted">Number of phone, email, or any other contact information.</small>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
</body>
</html>